#blue{
    background-color: blue;
    color: rgb(250, 232, 232);
    
}
#green{
    background-color: green;
    color: rgb(250, 232, 232);
    
}
#red{
    background-color: red;
    color: rgb(250, 232, 232);
}
#orange{
    background-color: orange;
    color: rgb(250, 232, 232);
}

